.App {
  text-align: center;
}

.header{
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color: #322f4d;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header a{
  color: #fff;
  text-decoration: none;
}
.register{
  text-align:center;
}
.register input{
  /* display:block; */
}
#cover {
  background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
  border-radius: 10px;
}
.btn-update {
  color: #ef9b0f;
  cursor: pointer;
}

.btn-delete {
  color: #ff0000;
  cursor: pointer;
}
.labelMargin {
  margin: 5px;
}
.marginRemover {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.container-fluid {
  margin-top: 10px;;
}
.loginImage {
    margin-top: -10px;
  min-height: calc(100vh - 55px) !important;
}