.App {
  text-align: center;
}

.header{
  display:flex;
  align-items:center;
  justify-content: space-between;
  background-color: #322f4d;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header a{
  color: #fff;
  text-decoration: none;
}
.register{
  text-align:center;
}
#cover {
  background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
}

#cover-caption {
  width: 100%;
  position: relative;
  z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.3);
  z-index: -1;
  border-radius: 10px;
}
.btn-update {
  color: #ef9b0f;
  cursor: pointer;
}

.btn-delete {
  color: #ff0000;
  cursor: pointer;
}
.labelMargin {
  margin: 5px;
}
.marginRemover {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.container-fluid {
  margin-top: 10px;
}
.loginImage {
  margin-top: -10px;
  min-height: calc(100vh - 55px) !important;
}
.guestHeaderBG {
  background-image: url("images/backgroundHeader.jpg");
  height: 10vh !important;
}
.headerText {
  font-size: 50pt;
  font-family: 'didot';
  color: white  
}
.nav-link {
  font-size: 25pt;
  color: black !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  font-family: 'didot';
}
 @font-face {
  font-family: didot;
  src: url(fonts/Didot\ Regular.ttf);
} 
 @font-face {
  font-family: gilSans;
  src: url(fonts/Didot\ Regular.ttf);
} 
#guestCover {
  background: #222 url("images/backgroundLayer.jpg") center center no-repeat;
  background-size: cover;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: -95px;
  z-index: -1;
}
.headerLogo {
  width: 20vw;
  height:20vh;
}
.headerContainer {
  height: 200px;
  position: relative;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.landingImage {
  background-image: url(images/backgroundHeader.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  position: absolute;
  -moz-animation:fadeOut 1s;
  -moz-animation-delay:3s;
  -moz-animation-fill-mode:forwards;
  animation:fadeOut 1s;
  animation-delay:3s;
  animation-fill-mode:forwards;
}
@-moz-keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}
@-moz-keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.fadeIn {
  -moz-animation:fadeIn 1s;
  -moz-animation-fill-mode:forwards;
  animation:fadeIn 1s;
  animation-fill-mode:forwards;
}
.otherInfoImage {
  bottom: 0;
  display: block;
  position: fixed;
}
.cententHeight {
  height: 100%;
}
body {
    background: #222 url("images/backgroundLayer.jpg") center center no-repeat;
}
.imgRight {
  right: 0;
}
.otherInfoImageMobile {
  bottom: 0;
  display: block;
  position: fixed;
  width: 15vw;
}
.imgRightMobile {
  right: 5vw;
}
.otherInfoBodyText {
  margin-top: 10vh;
}